.navbar-wrapper {
  background: $admin-navbar-bg;
  .profil {
    background: transparent;
    border-bottom: 2px solid #e8ebf1;
  }
  button {
    margin-left: 10px;
  }
  .feather {
    color: #7B7C7C !important;
    width: 20px !important;
    height: 20px !important;
  }
  small{
    color: $dash-title;
  }
}
